<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Sparta Suite
    <small>Tipo de Usuario</small>
  </h1>
</section>
<!-- Your Page Content Here -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Dashboard</h3>
        </div>
        <div class="box-body">
          <p>
            Dashboard Resumen asociado al usuario
          </p>
        </div>
      </div>
    </div>
  </div>
</section>