<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Reporte
        <small>Generador</small>
    </h1>
</section>
<!-- Your Page Content Here -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Generar Reporte</h3>
                </div>
                <div class="form">
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group col-xs-6 col-lg-4 col-md-4">
                                <input type="text" class="form-control" placeholder="Origen">
                            </div>
                            <div class="form-group col-xs-6 col-lg-4 col-md-4">
                                <input type="text" class="form-control" placeholder="Destino">
                            </div>
                            <div class="form-group col-xs-6 col-lg-2 col-md-2">
                                <input type="text" class="form-control" placeholder="Carrier">
                            </div>
                            <div class="form-group col-xs-3 col-lg-1 col-md-1">
                                <button type="button" class="btn btn-success">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div class="form-group col-xs-1 col-lg-1 col-md-1">
                                <button type="button" class="btn btn-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>