<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">MENU</li>
      <li class="treeview">
        <a href="/report-table"><i class="fa fa-file-text-o"></i> <span>Report</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li class="active"><a href="/report-table"><i class="fa fa-table"></i> <span>Tabla</span></a></li>
          <li><a href="/report-status"><i class="fa fa-tasks"></i> <span>Status</span></a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="/rx-pricing"><i class="fa fa-refresh" aria-hidden="true"></i> <span>Reactivo</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li class="active"><a href="/rx-pricing"><i class="fa fa-usd"></i> <span>Pricing</span></a></li>
          <li><a href="/rx-Revenue"><i class="fa fa-money"></i> <span>Revenue</span></a></li>
        </ul>
      </li>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
