<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">MENU</li>
      <li class="treeview">
        <a routerLink="/sparta-suite" routerLinkActive="active"><i class="fa fa-refresh" aria-hidden="true"></i> <span>Sparta Suite</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink="/motor" routerLinkActive="active"><i class="fa fa-gear fa-spin fa-fw"></i> <span>Motor</span></a></li>
          <li><a routerLink="/flujo" routerLinkActive="active"><i class="fa fa-refresh fa-spin fa-fw"></i> <span>Flujo</span></a></li>
          <li><a routerLink="/foot-notes" routerLinkActive="active"><i class="fa fa-spinner fa-spin fa-fw"></i> <span>Foot Notes</span></a></li>
        </ul>
      </li>
      <li class="treeview">
        <a routerLink="/report" routerLinkActive="active"><i class="fa fa-file-text-o"></i> <span>Report</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li class="active"><a routerLink="/tabla" routerLinkActive="active"><i class="fa fa-table"></i> <span>Tabla</span></a></li>
          <li><a routerLink="/status" routerLinkActive="active"><i class="fa fa-tasks"></i> <span>Status</span></a></li>
        </ul>
      </li>
      <li class="treeview">
        <a routerLink="/reactivo" routerLinkActive="active"><i class="fa fa-exchange" aria-hidden="true"></i> <span>Reactivo</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li><a routerLink="/pricing" routerLinkActive="active" (onclick)="setOwner('pricing')"><i class="fa fa-usd"></i><span>Pricing</span></a></li>
          <li><a routerLink="/revenue" routerLinkActive="active" (onclick)="setOwner('revenue')"><i class="fa fa-money"></i><span>Revenue</span></a></li>
        </ul>
      </li>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>